<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="login Suite">
  <test  name="Validusernamewrongpassword">
  <parameter name="username" value="Admin"></parameter>
   <parameter name="password" value="admin"></parameter>
    <classes>
      <class name="login.Validusernamewrongpassword"/>
      </classes>
      </test>
      <test name="Wrongusernamewrongpassword">
       <parameter name="username" value="admin"></parameter>
   <parameter name="password" value="admin"></parameter>
      <classes><class name="login.Wrongusernamewrongpassword"/></classes></test>
      <test name="Validusernamevalidpassword">
       <parameter name="username" value="Admin"></parameter>
   <parameter name="password" value="admin123"></parameter>
      <classes>
      <class name="login.Validusernamevalidpassword"/>
      </classes>
      </test>
      <test name="Invalidusernamecorrectpassword">
       <parameter name="username" value="admin"></parameter>
   <parameter name="password" value="admin123"></parameter>
      <classes>
      <class name="login.Invalidusernamecorrectpassword"/>
      </classes>
      </test>
</suite>
